
.header li{
	position: right;
	display: inline-block;
	margin-right: 25px;
	padding-top: 13px;
	justify-content: space-around;
	color: #f2f0e1;
	font-family: 'Prompt', sans-serif;

}

.header li:hover{
	background-color: #f2f0e1;
	color: #3a3d52;
}

.header{
		background-color: #3a3d52;
		width: 100%;
		top: 0;
		position: fixed;
		left: 0;
		z-index: 20;
	}


#logo{
	margin: 2px 2px;
	padding: 5px 5px;
}


.article-list{
	display: grid;
	margin: 0;
	padding: 50px 50px;
box-sizing: border-box;
	float: left;
	width: 50%;
	height: 50%;
	text-align: justify;
	font-family: 'Prompt', sans-serif;
	z-index: 20;

}

.article-list li{
	color: #3a3d52;
	font-family: 'Prompt', sans-serif;
}

#div1{
	background-color: #3a3d52;
	box-shadow: 3px 3px 8px 3px #888888;
	border-radius: 1px;
}

#featureF{
	display: flex;
	justify-content: center;
	text-align: center;
	color: #3a3d52;
	font-family: 'Prompt', sans-serif;
}

#featureC{
	display: flex;
	justify-content: center;
	text-align: center;
	color: #3a3d52;
	font-family: 'Prompt', sans-serif;
}

.class-feature{
	display: flex;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	
}

.class-feature h2{
	font-size: xx-large;
	color: #3a3d52;
	font-family: 'Prompt', sans-serif;
	width: 100%;
	
}

.class-feature a{
	text-decoration: none;

}

.class-feature h2:hover{
	background-color: #3a3d52;
	color: #f2f0e1;
}

.about-us h2{
	font-size: xx-large;
	color: #3a3d52;
	font-family: 'Prompt', sans-serif;
	width: 100%;
}

.class-feature img{
	display: flex;
	justify-content: space-around;
	object-fit: center;
	width: 200px;
	height: 200px;
	background-size: cover;
}


.about-us{
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding-bottom: 10px;

	
}

.about-us img{
	width: 40px;
	height: 48px;
}

.about-us a{
	text-decoration: none;
	color: #3a3d52;
	font-family: 'Prompt', sans-serif;
}

.about-us li{
	color: #3a3d52;
	font-family: 'Prompt', sans-serif;
	text-align: center;
}

.article-list h1{
	text-decoration-style: none;
	font-size: xx-large;
	color: #3a3d52;
	margin: 0;
	padding: 0;

}
.article-list a{
	text-decoration: none;
}

.article-list h1:hover{
	background-color: #3a3d52;
	color: #f2f0e1;
}


#CU li{
	display: flex;
	flex-direction: row;
	
}

.article-list p{
	text-decoration-style: none;
	font-size: medium;
	color: #3a3d52;
}


nav{
	float: right;

}

iframe{
	box-shadow: 3px 3px 3px 3px #888888;
	border-radius: 3px;
}

footer{
	
	background-color: #3a3d52;
	text-align: center;
	width: 100%;
	bottom: 0;
	padding: 10px 10px;
	height: 50px;

}

#laman{
	position: sticky;
	z-index: 5;
	background-attachment: fixed;
	margin-bottom: 15px; 
	background-size: cover;
	padding-top: 10px;
	width: 100%;
	display: flex;
	justify-content: center;
	text-align: center;
}


#footer h5{
	
	color: #f2f0e1;
	font-family: 'Prompt', sans-serif;
}

